/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header styling */
.header-band {
    background-color: #ff7043;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #e64a19;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-band h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.2;
}

/* Bar chart styling */
.bar {
    stroke: #ffffff;
    transition: fill 0.3s ease;
    stroke: #888888; /* Gray border color */
    stroke-width: 2px;
}
.bar:hover {
    fill: #fca084; /* Nice orange color */
}

/* Axis label styling */
.axis-label {
    font-size: 14px;
    fill: #666666;
    font-family: 'Arial', sans-serif;
}

/* Chart title styling */
.chart-title {
    font-size: 20px;
    font-weight: bold;
    fill: #333333;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Highlight text styling */
.highlight {
    font-size: 20px;
    font-weight: bold;
    fill: #333;
    font-family: 'Arial', sans-serif;
    text-anchor: start;
    padding: 10px;
}
.highlight-box {
    fill: #ff7043; /* Orange background color */
    stroke: #888888; /* Gray border color */
    stroke-width: 2px;
    rx: 10px; /* Rounded corners */
    padding: 20px; /* Padding around the text */
}

/* Node styling */
.node {
    cursor: pointer;
}
.node text {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    fill: #333333;
    text-anchor: middle;
}
.label {
    font-size: 16px;
    font-weight: bold;
    fill: #333; /* Orange color */
    font-family: 'Arial', sans-serif;
}
.value {
    font-size: 14px;
    fill: #777777;
    font-family: 'Arial', sans-serif;
}

/* Link styling */
.link {
    fill: none;
    stroke: #888888;
    stroke-width: 2px;
    opacity: 0.7;
}

/* Node rectangle styling */
.node rect {
    fill: #ffffff;
    stroke: #888888; /* Gray border color */
    stroke-width: 2px;
    rx: 10px; /* Rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: all 0.3s ease;
}
.node rect:hover {
    fill: #f0f0f0; /* Light gray background on hover */
    stroke: #555555; /* Darker gray border on hover */
}

/* Text box styling */
.text-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    /* margin-bottom: 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-box p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.text-box ul {
    font-size: 18px;  /* Increase the font size for list items */
    line-height: 1.6;
    margin: 10px 0;
    padding-left: 20px;
}
.text-box ul li {
    margin-bottom: 10px;  /* Add some space between list items */
}

/* Section heading styling */
section {
    margin-bottom: 40px; /* Increased spacing between sections */
}

section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}
section h3 {
    font-size: 22px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 15px;
}
